/* Main container */
.dashboard {
  width: 100%;
  min-height: 100vh;
  background: #f4f6f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.header {
  background: #4ae2c9;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

.header h1 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

/* Stats Boxes */
.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  padding: 10px;
}

.stat {
  padding: 18px 25px;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  min-width: 180px;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}

.open {
  background: #1e90ff;
}

.in-progress {
  background: hsl(36, 81%, 59%);
}

.closed {
  background: #35462e;
}

/* Buttons Section */
.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 20px;
}

.btn {
  padding: 19px 30px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  min-width: 160px;        
  text-align: center;    
  display: inline-block;   
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
  transition: 0.2s ease-in-out;
}


.btn-blue {
  background: #f32195;
}

.btn-green {
  background: #4caf50;
}

.btn-red {
  background: #f44336;
}

.btn:hover {
  transform: scale(1.07);
}

/* Footer */
.footer {
  margin-top: auto;
  text-align: center;
  padding: 15px;
  color: #666;
  font-size: 14px;
  background: #eaeaea;
}
