.req-container {
  width: 90%;
  margin: 30px auto;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.req-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.req-table {
  width: 100%;
  border-collapse: collapse;
}

.req-table th,
.req-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.req-table th {
  background: #007bff;
  color: white;
  font-size: 16px;
}

.req-table tr:hover {
  background: #f3f9ff;
}

.btn {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  margin-right: 6px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

.btn.view {
  background-color: #6f42c1;
}

.btn.blue {
  background-color: #007bff;
}

.btn.green {
  background-color: #28a745;
}

.btn.red {
  background-color: #dc3545;
}


.badge {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.badge.open {
  background-color: #ff9800;
}

.badge.progress {
  background-color: #2196f3;
}

.badge.closed {
  background-color: #4caf50;
}
